.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 15px;
    align-items: center;
    gap: 10px
}

.title {
    width: 100%;
    height: 100%;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

.title2 {
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 350px;
    max-width: 800px;
    gap: 20px;
    padding: 10px 5px 10px;
    background-color: grey;
    border-radius: 10px;
    align-items: center;
}

.textfield {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    padding: 5px 2px;
    gap: 15px;
    align-items: center;
    border: solid 3px black;
    border-radius: 10px;
}

.formEmailLabel {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name,
.search {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

.imgIngresarContainer,
.mapContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapContainer {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.imgIngresar {
    height: 200px;
}


.atentionText {
    display: none;
    color: red;
    font-size: 15px;
    margin: 0;
}

.formButtonSubmit,
.formButtonCancel,
.form-button-delete,
.form-button-save {
    height: 50px;
    width: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 168, 132, 1);
    border: none;
    padding: 0;
    border-radius: 5px;
}

.form-button-save {
    background-color: rgba(90, 143, 236, 1);
}

.form-button-save:active {
    background-color: rgb(53, 84, 137);
}

.formButtonCancel {
    background-color: rgba(74, 85, 83, 1);
}

.formButtonCancel:active {
    background-color: rgb(51, 59, 57);
}

.form-button-delete {
    background-color: rgba(235, 99, 114, 1);
}

.form-button-delete:active {
    background-color: rgb(122, 51, 59);
}

.register-container,
.forgot-container,
.login-container,
.map-container {
    padding-top: 38px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.mapContainer {
    border: solid 2px black
}

.register-container {
    display: flex;
    align-items: end;
}

.forgot-container {
    padding: 0;
}

.register-container-button,
.forgot-container-button,
.login-container-button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: rgba(90, 143, 236, 1);
    border: none;
    background-color: transparent;
}