.thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16
}

.thumb {
    display: inline-flex;
    border-radius: 2;
    border: 1px solid #eaeaea;
    margin-bottom: 8;
    margin-right: 8;
    padding: 4;
    box-sizing: border-box
}

.thumbInner {
    display: flex;
    min-width: 0;
    overflow: hidden
}

.img {
    display: block;
    height: 180px;
}

.container {
    align-items: center;
}

.initImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    align-items: center;
}

.text {
    text-align: center;
    font-family: Roboto;
}